@model YayOrNay.Models.AboutModel

@{
    ViewBag.Title = "About";
}



<h1>About Yay or Nay</h1>

@*<h2>@ViewBag.Title.</h2>
<h3>@Model.Name</h3>
<div>Location: @Model.Location</div>*@
<hr/>


<p>
    <strong>"Yay or Nay"</strong> is a movie application that helps you choose the movie you want to watch tonight.
</p>
<p>
    There are times when you are unsure on what movies to watch, let <strong>"Yay or Nay"</strong> help you to make
    an inform decision to pick a movie for tonight.
</p>
<p>
    You can find the reviews made by people who have already watched the movies and have given it a star rating.
</p>

<p> If you want to help others that are in your situation, why not register and review a movies yourself?</p>
<p><img src="image of logo" alt="Yay or Nay logohere" /></p>

<hr/>


