@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Keith Say To<br />
    Dublin<br />
    <abbr title="Contact Number">TEL:</abbr>
    +35312345678
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@yayornay.com">tellmesomething@yayornay.com</a><br />

</address>