@model IPagedList<MovieListViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />



@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1><font face="jing jing" color="white">"Yay Or Nay!"</font></h1>

        <p>
            <img src="~/Content/Image/movie-genres-comedy-icon.png" />
            <img src="~/Content/Image/movie-genres-drama-icon2.png" />
        </p>
        <p><strong>One Stop Place</strong> To find the movie you want to watch today or tonight.</p>
    </center>
</div>



@* To display uploaded images of movies *@
@*<dl class="dl-horizontal">
    @if (Model.Files.Any(f => f.FileType == FileType.Avatar))
    {
        <dt>
            Avatar
        </dt>
        <dd>
            <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" />
        </dd>
    }

</dl>*@

    <form method="get" action="@Url.Action("Index")"
          data-yon-ajax="true" data-yon-target="#movieList">

        <input type="search" name="searchTerm" data-yon-autocomplete="@Url.Action("Autocomplete")" />

        <input type="submit" value="Search By Title" />


    </form>
    






    @*@using (Ajax.BeginForm(
            new AjaxOptions {
                HttpMethod = "get",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "movieList" }))
        {
            <input type="search" name="searchTerm" />
            <input type="submit" value="Search By Title" />
        }*@


    @*render the partial view for movies*@

    @Html.Partial("_Movies", Model)



    <div class="col-md-6">
    <h2>IMDb</h2>
    <p>The Internet Movie Database (abbreviated IMDb) is an online database of information related to films, television programs and video games, including cast, production crew, fictional characters, biographies, plot summaries, trivia and reviews. Actors and crew can post their own résumé and upload photos of themselves for a yearly fee. U.S. users can view over 6,000 movies and television shows from CBS, Sony, and various independent filmmakers.<i>"Wikipedia"</i></p>
    <p><a class="btn btn-default" href="http://www.imdb.com/">Go to imdb.com &raquo;</a></p>
</div>

<div class="row">


    <div class="col-md-6">
        <h2>Rotten Tomatoes</h2>
        <p>Rotten Tomatoes is a website launched in 1998 devoted to film reviews and news; it is widely known as a film review aggregator. Coverage now includes TV content as well. The name derives from the practice of audiences throwing rotten tomatoes when disapproving of a poor stage performance. The company was created by Senh Duong and since January 2010 has been owned by Flixster, which itself was acquired in 2011 by Warner Bros.<i>"Wikipedia"</i></p>
        <p><a class="btn btn-default" href="https://www.rottentomatoes.com/">Go to rottentomatoes.com &raquo;</a></p>
    </div>


</div>
